body {
    background-color: rgb(213, 213, 197);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div {
    background-color: rgb(102, 104, 7);
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}
button {
    color: rgb(214, 76, 26);
    height: 120px;
    width: 120px;
    padding: 20px;
    border-radius: 50%;
    border: none;
}
button:hover { 
    background-color: rgb(221, 132, 76);
}
button:active {
    background-color: rgb(221, 207, 76);
}
h1 {
    color: rgb(2, 64, 32);
    font-size: large;
}